@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blind {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

img {
  max-width: 100%;
  vertical-align: middle;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

.row {
  max-width: 1170px;
  border: 0px solid #fff;
  margin: 0 auto;
}

#header {
  background-color: #fff;
}

#header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header h1 {
  padding: 20px 0;
}
#header .menuopen {
  display: none;
}
#header #nav {
  display: flex;
}
#header #nav .depth1 {
  display: flex;
  align-items: center;
}
#header #nav .depth1 > li {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  position: relative;
  margin-left: 12px;

  text-align: center;
}

#header #nav .depth1 > li.on {
  color: #5a12e0;
  border-top: 0px solid #5a12e0;
}

#header #nav .depth1 > li > a {
  padding: 0 26px;
  display: block;
  position: relative;
  color: #333;
  height: 85px;
  line-height: 85px;
}

/* #header #nav .depth1 > li.on .depth2 {
  display: block;
} */

#header #nav .depth2 {
  position: absolute;
  top: 100%;

  width: 100%;
  background: #fff;
  color: #333;
  text-align: left;
  z-index: 999;
  display: none;
}
#header #nav .depth2 > li > a {
  display: block;
  padding: 12px 0 12px 22px;

  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid rgba(132, 132, 132, 0.15);

  background-color: #fff;
  color: #333;

  transition: all 0.3s;
}
#header #nav .depth2 > li > a:hover {
  color: #fff;
  border-bottom: 1px solid #ffffff;
  background: #5a12e0;
  font-weight: 900;
}

.quick {
  position: fixed;
  bottom: 70px;
  right: 40px;
  opacity: 1;
  z-index: 9999999999999999999;
  /* text-align: right; */
}
.quick .chat {
  cursor: pointer;
  margin-right: -33px;
}
.quick .music {
  cursor: pointer;
  margin-left: 49px;
  margin-top: 25px;
}

/* 메인 슬라이드 */
#section .slideOuter1 .slide {
  position: relative;
  height: 700px;
}
#section .slideOuter1 .slideInner {
  position: relative;
}
#section .slideOuter1 .slideInner button.slick-arrow {
  border: none;
  background: none;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
#section .slideOuter1 .slideInner button.slick-next {
  right: 50px;
}

#section .slideOuter1 .slideInner button.slick-prev {
  left: 50px;
  z-index: 999;
}
#section .slideOuter1 .slideInner ul.slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50px;
}

#section .slideOuter1 .slideInner ul.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
#section .slideOuter1 .slideInner ul.slick-dots li button {
  width: 16px;
  height: 16px;
  text-indent: 9999px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
}
#section .slideOuter1 .slideInner ul.slick-dots li.slick-active button {
  background: #fff;
}
#section .slideOuter1 .slide1 {
  background: url(../image/202312291123066760.jpg) center / cover;
}
#section .slideOuter1 .slide2 {
  background: url(../image/202401030600231300.jpg) center / cover;
}
#section .slideOuter1 .slide3 {
  background: url(../image/202401100549048290.jpg) center / cover;
}
#section .slideOuter1 .slide4 {
  background: url(../image/202401190552044590.jpg) center / cover;
}
#section .slideOuter1 .slide5 {
  background: url(../image/202312150303250710.jpg) center / cover;
}
#section .slideOuter1 .slide6 {
  background: url(../image/202312280413084630.jpg) center / cover;
}
#section .slideOuter1 .slide7 {
  background: url(../image/202312280414090250.jpg) center / cover;
}
#section .slideOuter1 .slide8 {
  background: url(../image/202312290833249850.jpg) center / cover;
}
#section .slideOuter1 .slide .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
}
#section .slideOuter1 .slide .text a {
  display: inline-block;
  padding: 10px 16px;
  font-size: 18px;

  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
#section .slideOuter1 .slick-current.slick-active.slide .text a {
  animation: fadeInUp 1s 1 both 2.3s;
}
#section .slideOuter1 {
  position: relative;
}
#section .slideOuter1 .plapau {
  position: absolute;
  left: 50%;
  bottom: 48px;
  font-size: 20px;
  margin-left: 109px;
  color: #fff;
}

/* 오늘의 파크 운영시간 */
.openTime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;

  max-width: 1170px;

  border-bottom: 1px solid #e1e1e1;
}
.openTime img {
  margin-right: 15px;
}
.openTime h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 900;
}
.openTime p {
  text-align: center;
  font-size: 19px;
  font-weight: 900;
  margin-left: 15px;
}

/* 리뷰를 부탁해! */
.review {
  text-align: center;
  margin: 40px auto;
  padding-bottom: 10px;
  /* width: 1170px; */

  border-bottom: 1px solid #e1e1e1;
}

.review .row h2 {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}
.review .row h2 span {
  font-size: 40px;
  font-weight: 700;
}
.review .row p {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 40px auto;
}
.review .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review .box li {
  flex: 1 1 25%;
  padding: 1px;
}
.review .box li img {
  width: 100%;
}
.review .box li > a {
  display: block;
  overflow: hidden;
  position: relative;
}
.review .box li > a .overbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 60%;
  opacity: 0;
  transition: all 0.5s;
}
.review .box li img {
  transition: all 0.5s;
  transform-origin: center top;
}
.review .box li:hover img {
  transform: scale(1.1);
}

.review .re_btn {
  margin: 100px auto;
  background: rgba(111, 35, 249, 1);
  width: 220px;

  border-radius: 28px;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}
.review .re_btn:hover {
  background: #000;

  color: #fff;
}
.review .re_btn a {
  text-align: center;

  font-weight: 500;
}

/* 롯데월드 영상 */
.youtube {
  margin: 70px auto;
  padding-bottom: 100px;

  max-width: 1170px;
  border-bottom: 1px solid #e1e1e1;
}
/* .youtube .row {
  width: 100%;
} */
.youtube .row h2 {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}
.youtube .row h3 {
  text-align: center;

  font-size: 40px;
  font-weight: 700;
}
.youtube .row p {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 30px auto;
}

/* .youtube .row .videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.youtube .row .videoBox {
  width: 100%;
  margin-top: 50px;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.youtube .row .videoBox video {
  width: 100%;
}

/* 퍼레이드 */

.parde {
}

.parade .all {
  background: url(../image/mainCon2_bg_20220103.jpg) center / cover;
  background-repeat: no-repeat;
  height: 1019px;
}
.parade .all h2 {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  padding: 100px 0 0 0;
}
.parade .all h2 span {
  font-size: 40px;
  font-weight: 700;
}
.parade .all p {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 30px auto;
  color: #fff;
  padding-bottom: 60px;
}

.slider {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
}
.slider a {
  display: block;

  position: relative;
}

.slider .swiper-slide .overbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 95%;
  padding-left: 5%;
  opacity: 0.8;
  z-index: 99999999;
  transition: all 0.5s;
  font-size: 20px;
  font-weight: 400;
}
.slider .swiper-slide .overbox:hover {
  font-size: 20px;
  font-weight: 1000;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  box-shadow: 0 8px 20px #646464;
  opacity: 1.1;
}

.swiper-container {
  overflow: hidden;
  height: 570px;
}

.swiper-scrollbar {
  background: #fff;
}

.swiper-container-horizontal > .swiper-scrollbar {
  border-radius: 2px;
  height: 5px;
  width: 200px;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 99999999;
}

.swiper-wrapper img {
  width: 100%;
}

.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
}
.swiper-scrollbar-drag {
  position: relative;
  height: 5px;
  border-radius: 13px;
  background: rgb(111, 35, 249);
  z-index: 9999999999;
}
.parade .pa_btn {
  display: flex;
  justify-content: center;
  text-align: center;
}
.parade .pa_btn .btn1 {
  text-align: center;
  background: #fff;
  color: rgb(111, 35, 249);
  padding: 0 36px;
  line-height: 54px;
  border-radius: 28px;
}
.parade .pa_btn .btn2 {
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  padding: 0 36px;
  line-height: 54px;
  border-radius: 28px;
  margin-left: 17px;
}

/* 어트랙션 */
.attraction {
  background: url(../image/att-bg.jpg) center / cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
.attraction .text h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #000;
  padding: 90px 0 40px 0;
}
.attraction .text h2 span {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #000;
}

.boardList {
  /* max-width: 600px; */
  margin: 0 auto;
}
.boardList .title {
  display: flex;
  padding-bottom: 50px;
}
.boardList .title li {
  flex: 1;
  /* margin: 0 auto; */
  margin: 2px;
  border: 2px solid #9b9b9b;
  text-align: center;
  padding: 10px 5px;
  border-radius: 28px;
  color: #5f5f5f;
}
.boardList .title li.on {
  border: 2px solid #550adf;
  color: #550adf;
  font-weight: 900;
}
.container .content {
  display: none;
  position: relative;
}
.container .content.on {
  display: block;
}
.container .content.on .six {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .content.on .six li {
  /* width: 100%; */
  padding: 0 5px 18px 5px;
}
.container .content.on .six li span img {
  /* height: 249px; */
}
.container .content.on .six li .tx {
  background: #fff;
  padding: 24px 14px;
  color: #000;
}

.container .content.on .six li .tx h3 {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 7px;
}
.container .content.on .six li .tx p {
  font-weight: 100;
  font-size: 15px;
}
.container .content.on .six li:hover > .tx {
  background: #550adf;
  color: #fff;
}
.attraction .at_btn {
  margin: 36px auto;
  background: rgba(111, 35, 249, 1);
  width: 220px;

  border-radius: 28px;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}
.attraction .at_btn:hover {
  background: #000;

  color: #fff;
}
.attraction .at_btn a {
  text-align: center;

  font-weight: 500;
}
/* 스페셜  */
.special {
  margin: 100px 0;
}
.special .text {
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}
.special .text h2 {
  display: block;

  font-size: 40px;
  font-weight: 300;
}
.special .text h2 span {
  display: block;

  font-size: 40px;
  font-weight: 700;
}
.special .text p {
  display: block;

  font-size: 18px;
  margin: 20px auto;
  color: #555;
  padding-bottom: 30px;
}
.special .experience {
  margin: 40px 0;
}
.special .experience h3 {
  margin-bottom: 30px;
}
.special .experience .four {
  display: flex;
}
.special .experience .four li {
  margin-right: 22px;
  font-weight: 400;
}

.special .experience .four li:nth-child(4) {
  margin-right: 0;
}
.special .experience .four li p {
  font-size: 18px;

  /* text-align: left; */
  margin-top: 22px;
}

.special .experience .four li img {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.3s;
}
.special .experience .four li img:hover {
  background: rgb(0, 0, 0, 1.3);
  opacity: 1.3;
  box-shadow: 0 15px 10px #777;
}
.special .experience .four li:hover {
  color: #5a12e0;
  font-weight: 1000;
}
.special .han {
  display: flex;
  justify-content: space-between;
}
.special .han .news {
  width: 50%;
  padding: 3%;
  border: 1px solid #e1e1e1;
  margin-right: 3px;
  align-items: center;
}
.special .han .news .hk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.special .han .news .hk .plus img {
  margin-bottom: 2px;
}

.special .han .news .nexs-list {
  margin-top: 46px;
}
.special .han .news .nexs-list li {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  cursor: pointer;
}
.special .han .news .nexs-list li p {
  border-bottom: 1px solid #fff;
}
.special .han .news .nexs-list li:hover > p {
  border-bottom: 1px solid #000;
}
.special .han .smart {
  width: 50%;
}

/* 푸터 */
#footer {
  border-top: 2px solid #f1f1f1;
  padding: 50px 0;
  margin-top: 90px;
}

#footer .row .ca {
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 40px;
  color: #555;
  text-align: center;
}
#footer .row .ca a {
  word-break: keep-all;
  display: inline-block;
}
#footer .row .ca a:hover {
  color: #e10000;
  font-weight: 700;
}

#footer .row .ca a {
  margin: 0 13px;
}
#footer .row .conv {
  overflow: hidden;
  padding-top: 30px;
}
#footer .row .conv .fg {
  float: right;
}
#footer .row .conv .fg > div {
  float: right;
}
#footer .row .conv .f-logo {
  float: left;
  margin-right: 50px;
}
#footer .row .conv .txt {
  float: left;
  color: #555;
  font-size: 15px;
}
#footer .row .txt .copy {
  font-size: 14px;
  margin: 20px 0;
}

#footer .row .txt .box {
  display: flex;
}
#footer .row .txt .box > div > img {
  margin-right: 10px;
}
#footer .row .txt .box1 {
  display: flex;
  flex: 1;
  align-items: center;
}
#footer .row .txt .box1 .p1 {
  font-size: 12px;
}
#footer .row .txt .box2 {
  font-size: 12px;
  display: flex;
  flex: 1;
  align-items: center;
}
#footer .row .txt .box2 p {
  font-size: 12px;
}
#footer .row .conv .fg .icon img {
  padding-left: 5px;
  padding-top: 5px;
}
#footer .row .conv .fg-jd {
  width: 210px;
  /* padding-left: 18px; */
  line-height: 45px;
  height: 45px;
  margin-left: 35px;
  /* border: 1px solid #e0e0e0; */
  font-size: 14px;
  color: #555;
  background: url(../image/sel_icon.png) no-repeat right 17px top 50%;
  font-size: 15px;
  color: #555;
}
#footer .row .conv .fg-jd p #select_data {
  width: 100%;
  padding: 11px 18px;
}
